div#images-container, div.titles, div#phone-number {
    text-align: center;
}

h1, div#phone-number {
    border: 1px;
    border-style: solid;
    padding: 2px;
    border-radius: 3px;
}

div#phone-number img {
    max-width: 75%;
    max-height: 75%;
}

img.image-vertical, img.image-horizontal {
    border: 1px;
    border-style: solid;
    padding: 2px;
    border-radius: 3px;
}

img.image-vertical {
    width: 23%;
    height: 23%;
}

img.image-horizontal {
    width: 30%;
    height: 30%;
}