body {
    color:#123C69;
    background-color:#EDC7B7;
}

div.images-container, div.titles, div#phone-number {
    text-align: center;
}

h1, div#phone-number {
    text-align: center;
    background-color: #EEE2DC;
}

p.blabla {
    background-color: #EEE2DC;
    text-align: justify;
    font-size: 20px;
}

div#phone-number{
    padding: 3px 3px 0 3px; 
}

h1, div#phone-number, p.blabla {
    border: 1px;
    border-style: solid;
    padding: 2px;
    border-radius: 3px;
}

div#phone-number img {
    max-width: 75%;
    max-height: 75%;
}

img.image-vertical, img.image-horizontal {
    border: 1px;
    border-style: solid;
    padding: 2px;
    border-radius: 3px;
}

img.image-vertical {
    width: 30%;
    height: 30%;
}

img.image-horizontal {
    width: 30%;
    height: 30%;
}

div#copyright {
    float: right;
    padding: 0 10px 10px 0;
}

div#copyright a, div#copyright a:visited, div#copyright a:hover, div#copyright a:active {
	text-decoration: none;
    font-weight: bold;
    color:#123C69;
}